body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849d8f;
}

a {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.main-navigation {
    color: #ffffff;
    background-color: #849d8f;
}

.site-navigation,
.user-navigation,
.sub-navigation {
    list-style: none;
}

.site-navigation a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700px;
}

.site-navigation-current a {
    color: #ffffff;
    background-color: #d07058;
}

.user-navigation a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500px;
    color: #ffffff;
    background-color: #a1b4a9;
}

.site-navigation a:hover,
.user-navigation a:hover,
.user-navigation a:active {
    color: #323232;
    background-color: #f7f6f3;
    text-decoration: none;
}

.sub-navigation a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400px;
    color: #323232;
    background-color: #f7f6f3;
    text-decoration: none;
}

.sub-navigation a:hover {
    color: #323232;
    background-color: #fbded7;
}

.sub-navigation a:focus {
    color: #323232;
    background-color: #f6b5a5;
}

.features {
    color: #323232;
    background-color: #f0e6ce;
    background-image: url("img/features-bg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.visually-hidden {
    display: none;
}

.features b {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500px;
}

.features-list {
    list-style: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400px;
}

.news {
    color: #323232;
    background-color: #ffffff;
    background-image: url("img/news-bg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.news-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500px;
}

.news-link {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700px;
}

.subscribe {
    background-image: repeating-linear-gradient(135deg, #92cdff, #92cdff 10px, #f8f7f4 10px, #f8f7f4 20px, #fe9e90 20px, #fe9e90 30px, #f8f7f4 30px, #f8f7f4 40px);
}

.subscribe-form {
    background-color: #f8f7f4;
}

.subscribe-form p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400px;
}

.subscribe-label {
    color: #999999;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
}

.subscribe-button {
    color: #fefefe;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700px;
    background-image: linear-gradient(90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
}

.social-buttons,
.footer-menu {
    list-style: none;
}

.menu-item {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400px;
    color: #ffffff;
    background-color: #849d8f;
}

.footer-copyright {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400px;
    color: #ffffff;
    background-color: #849d8f;
}

.contacts {
    font-weight: 700px;
}

.contacts-time {
    font-size: 14px;
    line-height: 16px;
}

.contacts-phone {
    font-size: 22px;
    line-height: 24px;
}
